annotated-types==0.6.0
beautifulsoup4==4.12.3
blis==0.7.11
Brotli==1.1.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
cupy-cuda11x==12.3.0
cymem==2.0.8
decorator==4.4.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
fastrlock==0.8.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
Jinja2==3.1.4
langcodes==3.4.0
language_data==1.2.0
marisa-trie==1.1.1
MarkupSafe==2.1.5
moviepy==1.0.3
murmurhash==1.0.10
mutagen==1.47.0
numpy==1.26.4
packaging==24.0
pillow==10.3.0
preshed==3.0.9
proglog==0.1.10
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pydub==0.25.1
requests==2.31.0
smart-open==6.4.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
srt==3.5.3
thinc==8.2.3
tqdm==4.66.4
typer==0.9.4
typing_extensions==4.11.0
urllib3==2.2.1
videogrep==2.3.0
vosk==0.3.45
wasabi==1.1.2
weasel==0.3.4
websockets==12.0
yt-dlp==2024.4.9
