beautifulsoup4==4.12.3
Brotli==1.1.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
distlib==0.3.7
ffmpeg-python==0.2.0
filelock==3.13.1
future==1.0.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
moviepy==1.0.3
mutagen==1.47.0
numpy==2.0.0
pillow==10.3.0
platformdirs==4.1.0
proglog==0.1.10
pycparser==2.22
pycryptodomex==3.20.0
pyfiglet==1.0.2
Pygments==2.18.0
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
shellingham==1.5.4
soupsieve==2.5
srt==3.5.3
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.12.2
urllib3==2.2.2
videogrep==2.3.0
virtualenv==20.25.0
vosk==0.3.45
websockets==12.0
yt-dlp==2024.5.27
