beautifulsoup4==4.12.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
distlib==0.3.7
ffmpeg-python==0.2.0
filelock==3.13.1
future==1.0.0
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==2.0.0
pillow==10.3.0
platformdirs==4.1.0
proglog==0.1.10
pycparser==2.22
requests==2.32.3
soupsieve==2.5
srt==3.5.3
tqdm==4.66.4
urllib3==2.2.2
videogrep==2.3.0
virtualenv==20.25.0
vosk==0.3.45
websockets==12.0
